<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Hello <%= user.firstName %> <%= user.lastName %></h2>
    <h3>Email: <%= user.email %></h3>
  </body>
</html>
